*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

#page3{
    height: 100vh;
    width: 100vw;
    display: flex;
}

#Structure-right-side{
    height: 100vh;
    width: 30vw;
    background-image: url(https://images.unsplash.com/photo-1515886657613-9f3515b0c78f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1920&q=80);
    background-size: cover;
}

#Structure-center{
    height: 100vh;
    width: 40vw;
}

#Structure-center-upper{
    height: 50%;
    width: 100%;
    background-color: black;
    color:white;
    text-align: center;
    padding-top: 100px;
    padding-left:30px;
    padding-right:30px;
}
#Structure-center-lower{
    height: 50%;
    width: 100%;
    background-image: url(https://images.unsplash.com/photo-1448376561459-dbe8868fa34c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80);
    background-size: cover;
}

#Structure-left-side{
    height: 100vh;
    width: 30vw;
    background-image: url(https://images.unsplash.com/photo-1507114845806-0347f6150324?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1887&q=80);
    background-size: cover;
}

#Structure-center-upper h1{
    letter-spacing: 4px;
}

#Structure-center-upper p{
    margin-top: 40px;
    font-size: 15px;
}